<div class="mdl-grid portfolio-max-width portfolio-contact">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Contact</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" alt="" src="../assets/images/add-banner.jpg" border="0">
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </p>
            <p>
                Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.
            </p>
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded is-dirty" data-upgraded=",MaterialTextfield">
                    <input class="mdl-textfield__input" id="Name" type="text" pattern="[A-Z,a-z, ]*">
                    <label class="mdl-textfield__label" for="Name">Name...</label>
                    <span class="mdl-textfield__error">Letters and spaces only</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
                    <input class="mdl-textfield__input" id="Email" type="text">
                    <label class="mdl-textfield__label" for="Email">Email...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
                    <textarea class="mdl-textfield__input" id="note" rows="5" type="text"></textarea>
                    <label class="mdl-textfield__label" for="note">Enter note</label>
                </div>
                <p>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" data-upgraded=",MaterialButton,MaterialRipple">
                        Submit
                        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>