<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col">
        <p>
            Here you can add a new page in the Book
        </p>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <form action="#">
            <mdl-textfield type="text" label="title" [(ngModel)]="text3" floating-label name="title" class="mdl-cell mdl-cell--12-col"></mdl-textfield>

            <mdl-textfield label="body" [(ngModel)]="text5" rows="25" floating-label name="body" class="mdl-cell mdl-cell--12-col"></mdl-textfield>

            <p>
                <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple name="send">
                    Submit
                </button>

            </p>
        </form>
    </div>

</div>