<div class="mdl-grid portfolio-max-width">
    <mdl-textfield type="text" label="search..." [(ngModel)]="term" floating-label class="mdl-cell mdl-cell--10-col" (keyup)="onKey($event)"></mdl-textfield>

    <button mdl-button mdl-button-type="mini-fab" class="mdl-cell--2-col" (click)="search()" mdl-tooltip-large="Search">
        <mdl-icon>search</mdl-icon>
    </button>

    <div *ngFor="let result of results; let isLast = last" class="mdl-cell mdl-cell--12-col">
        <h6 class="marginBottomZero marginTopZero"><a [routerLink]="['/view', result._source.id]">{{result._source.title}}</a></h6>
        <p class="marginTopZero">{{result._source.preview_body}}</p>
        <hr *ngIf="!isLast" />
    </div>
</div>
